ul {
  margin-top: 4vh;
  li {
    color: $darkgray;
    margin-bottom: 2vh;
    &:hover {
      color: $orange;
    }
    &::marker {
      color: $darkgray;
      font-size: 1rem;
    }
  }
  .completed {
    color: $lightgrey;
    text-decoration: line-through;
    &::marker {
      color: $lightgrey;
    }
    button {
      color: $lightgrey;
    }
  }
  button {
    margin-left: 1vw;
    background-color: transparent;
    border: none;
    &:hover {
      border: 1px solid $orange;
      border-radius: $borderRadius;
      -webkit-border-radius: $borderRadius;
      -moz-border-radius: $borderRadius;
      -ms-border-radius: $borderRadius;
      -o-border-radius: $borderRadius;
      padding: 0;
    }
  }
}

form {
  input[type="text"] {
    border: 1px solid $grey;
    border-radius: $borderRadius;
    -webkit-border-radius: $borderRadius;
    -moz-border-radius: $borderRadius;
    -ms-border-radius: $borderRadius;
    -o-border-radius: $borderRadius;
    margin-right: 2vw;
    padding: 2vh 0;
    font-family: $roboto;
    font-size: 1.3rem;
  }
  input[type="submit"] {
    color: $darkgray;
    background-color: $orange;
    border: none;
    border-radius: $borderRadius;
    -webkit-border-radius: $borderRadius;
    -moz-border-radius: $borderRadius;
    -ms-border-radius: $borderRadius;
    -o-border-radius: $borderRadius;
    padding: 1.5vh 3vw;
    font-size: 1.3rem;
    vertical-align: middle;
    &:hover {
      box-shadow: $buttonshadow;
    }
  }
}
